.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: burlywood;
}
form label{
  display: inline-block;
  width: 120px;
}
form div{
  margin: 10px;
}

.profilePic{
  width: 150px;
  height: 150px;
  border: 3px solid black;
}
nav{
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: chocolate;
}
